
table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid blueviolet;
    padding: 5px 15px;
}

nav ul{
    display: flex;
    

}

nav li{
    list-style: none;
    margin-right: 20px;
    padding: 0 20px 0 0;
    font-size: 30px;
}

nav li:hover{
    background-color: purple;
}

nav li a{
    text-decoration: none;
    color: orange;

}

img{
    height: 400px;
    width: 800px;
}